<header>
  <nav class="navbar bg-body-tertiary  mb-5" id="offCanvas">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" routerLink="/">Logo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
           aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Навигация</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/catalog">Каталог</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand bg-body-tertiary mb-5" id="navbar-standart">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" routerLink="/">Logo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/catalog">Каталог</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <p class="navbar-nav text-body-secondary">Все права защищены</p>
    </div>
  </nav>
</footer>
